<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/05_exercises_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 05 | Exercises - Expressions

An expression is a bit of code that contains a mix of values, operators, or even function calls. However, Python can't handle expressions and has to convert them to a simple value of a determined data type.

## Examples of Expressions

In [2]:
# expression adding 3 integers
answer = 3 + 5 + 7
print(answer)
print(type(answer))

15
<class 'int'>

In [4]:
# expression with 2 strings
answer = "abc" + "de"
print(answer)
print(type(answer))

abcde
<class 'str'>

In [5]:
# expression dividing 2 integers
answer = 9 / 2
print(answer)
print(type(answer))

4.5
<class 'float'>

In [6]:
# expression combining operators
answer = 3 + 5 * 7
print(answer)
print(type(answer))

38
<class 'int'>

In [7]:
# expression multiplying strings
answer = "abc" * 3
print(answer)
print(type(answer))

abcabcabc
<class 'str'>

In [8]:
# expression addition 3 integers as strings
answer = "3" + "5" + "7"
print(answer)
print(type(answer))

357
<class 'str'>

## Exercise 1

The radio message meant for the Titanic didn't get through. Can you find a way to print it four times in one line without typing out four individual print statements?

```python
print("Titanic, beware of icebergs ahead! "*__)     #Fix the code here
```

In [9]:
print("Titanic, beware of icebergs ahead! " * 4)

Titanic, beware of icebergs ahead! Titanic, beware of icebergs ahead! Titanic, beware of icebergs ahead!

## Exercise 2

The captain who received the Titanic radio message wanted to check the value type. Can you fix this code so that it prints the type?

```python
print(__("Titanic, beware of icebergs ahead! "))     #Fix the code here
```

In [10]:
print(type("Titanic, beware of icebergs ahead! "))

<class 'str'>

## Exercise 3

Print the following output. First, show the math exercise & then the real calculated result. (Donâ€™t write the result yourself).

```
100/20 + 12 =
17.0
```

In [11]:
print("100/20 + 12 =")
print(100/20 + 12)

100/20 + 12 =
17.0