<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/10_assessment_sprint_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10 | Assessment - Sprint 1

## Exercise 1 | Print age

- Complete the function 'age'.
- The function expects one parameter (argument) called `year` **_(int)_**.
- The function will **return** the following **string** (in this example, when `year` is 1983):

> You were born in 1983, so you are about 40 years old.

_Hint: Don’t use *print* inside the function._

In [3]:
current_year = 2023

def age(year):
    return (f"You were born in {year}, so you are about {str(current_year - year)} years old.")

text = age(1983)
print(text)

You were born in 1983, so you are about 40 years old.

## Exercise 2 | Sum

- Define a function named `my_sum` that accepts 2 numbers **_(int)_**.
- The function should sum all the numbers and return the result

In [4]:
def my_sum(num1, num2):
    return num1 + num2

result = my_sum(3, 8)
print(result)

11

## Exercise 3 | Concat

- Define a function named `special_concat` that accepts 3 strings **_(str)_**.
- The function should concatenate all the strings and **return** the result in the following format **_(str)_**:

`print(special_concat(”Cats”, “Dogs”, “Wolves”))`
> Cats, Dogs & Wolves

In [5]:
def special_concat(str1, str2, str3):
    return f"{str1}, {str2} & {str3}"

print(special_concat("Cats", "Dogs", "Wolves"))

Cats, Dogs & Wolves

## Exercise 4 | Currency Convertor

- Write a function called `usd_to_yuan`, that will get one parameter — An amount of money in US Dollars **_(int)_**
- The function will convert the amount to the equivalent amount in Chinese Yuan, and return the result **_(float)_**.
- Assume that the current exchange rate is 7.15 Yuan for every US Dollar.
- Example: `print(usd_to_yuan(10))`
> 71.5

In [6]:
def usd_to_yuan(usd):
    return usd * 7.15

print(usd_to_yuan(10))

71.5

## Exercise 5 | Title Creator

- Write a function called `title_creator`.
- The function will expect three parameters:
  - `title` **_(str)_** — the text for the title.
  - `char` **_(str)_** — the character surrounding the text.
  - `times` **_(int)_** — the number of times to repeat the character on each side of the title.
- The function will **return** a formatted title **_(str)_**, as shown in the example.
- Example: `print(title_creator("Welcome to Masterschool", "=", 5))`
> =====Welcome to Masterschool=====

In [7]:
def title_creator(title, char, times):
    return char * times + title + char * times

print(title_creator("Welcome to Masterschool", "=", 5))

=====Welcome to Masterschool=====

## Exercise 6 | Coffee Cost

- You're ordering coffee for your office. A small coffee costs \$2, a medium coffee costs \$3, and a large coffee costs \$4.
- Write a function `coffee_calculator` that takes three parameters - the number of each size coffee **_(ints)_**, and returns the total cost of the order **_(int)_**.
- Example: `print(coffee_calculator(2, 10, 1))`
> 38

In [8]:
def coffee_calculator(small, medium, large):
    return small * 2 + medium * 3 + large * 4

print(coffee_calculator(2, 10, 1))

38

## Exercise 7 | Percent calculation

- Write a function called `percent`. This function will calculate the percentage of one number relative to another.
- The function will accept two parameters: `num1` **_(int)_** and `num2` **_(int)_**.
- The function will **return** the calculated percentage as a string, like `25.5%`.
- Example:
  - `print(percent(155, 500))`
> 31.0%
  - `print(percent(250, 125))`
> 200.0%

In [9]:
def percent(num1, num2):
    return str(round(num1 / num2 * 100, 1)) + "%"

print(percent(155, 500))
print(percent(250, 125))

31.0%
200.0%

## Exercise 8 | Grade calculation

Write a program that asks the user for their exam score and prints their grade based on the following criteria:

- Score 90 or above: **A**
- Score 80 to 89: **B**
- Score 70 to 79: **C**
- Score 60 to 69: **D**
- Score below 60: **F**

In [10]:
score = 75

if score >= 90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "F"

print(f"Your grade is: {grade}")

Your grade is: C

## Exercise 9 | Summer Discount

- A supermarket has started to offer a special summer discount. To qualify for this discount, a shopping list must contain at least 5 items, **and** one of them must be “Ice Cream”.
- Write a function called `validate_discount` that will expect one parameter: a list of strings `products`.
- If the shopping list qualifies for the discount, **return** `"YES"`; otherwise, **return** `"NO"`
- Example:
  - `validate_discount(["Shampoo", "Eggs", "Ice Cream", "Soap", "Tissues"])`
> YES
  - `validate_discount(["Ice Cream", "Soap", "Tissues"])`
> NO

In [13]:
def validate_discount(products):
    if len(products) >= 5 and "Ice Cream" in products:
        return "YES"
    else:
        return "NO"

print(validate_discount(["Shampoo", "Eggs", "Ice Cream", "Soap", "Tissues"]))
print(validate_discount(["Ice Cream", "Soap", "Tissues"]))

YES
NO

## Exercise 10 | Pass or Fail

- As part of a university course, students were required to take two exams.
- To successfully complete the course, students needed to fulfill two conditions:
  - Their average grade must be 75 or higher
  - They must not receive a failing grade (55 or lower) on either exam.
- Write a function called `has_passed`.
- The function will expect two parameters called `grade1` and `grade2` **_(ints)_**.
- The function will **return a string** `“PASS”` or `“FAIL”` according to the above conditions.
- Example:
  - `has_passed(90, 70)`
> PASS
  - `has_passed(53, 100)`
> FAIL
  - `has_passed(60, 80)`
> FAIL

In [15]:
def has_passed(grade1, grade2):
    if (grade1 + grade2) / 2 >= 75:
      if grade1 >= 55 and grade2 >= 55:
        return "PASS"
      else:
        return "FAIL"
    else:
      return "FAIL"

print(has_passed(90, 70))
print(has_passed(53, 100))
print(has_passed(60, 80))

PASS
FAIL
FAIL

## BONUS  Exercise | Reverse numbers

Write a function called `reverse_number` that takes a **five-digit number** as input **_(int)_** and returns the number in reverse order **_(int)_**. For example, `reverse_number(12345)` would return `54321`.

In [16]:
def reverse_number(num):
    num_str = str(num)
    reversed_str = num_str[::-1]
    return int(reversed_str)

print(reverse_number(12345))

""" String slicing is a way to extract a portion of a string by creating
a new string from a specific range of characters. The basic syntax is:
string[start:stop:step]

- start: where slice begins - default is beginning of string
- stop: where slice ends - default is end of string
- step: how many characters to skip - default is 1

Using a step of -1 in the slice will reverse the string."""

54321