<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/15_dictionaries_tuples_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 15 | Dictionaries, Tuples & Sets

## Dictionaries

**Dictionaries** are defined using curly braces `{}` and are used to store data as key-value pairs.

| Feature | Description |
| --- | --- |
| Mutable | You can add, update, and remove key-value pairs after creation. |
| Unordered | The order of items is not guaranteed in older Python versions. |
| Keys | Must be unique and immutable |
| Values | Can be any valid Python object |

In [67]:
# syntax for creating a dictionary
syntax_dict = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}

### Retrieving data from a dictionary

- use the `.keys()` method to view all the keys
- use the dictionary name to view all keys and values
- use a key inside square brackets `[]` to return its corresponding value

In [68]:
# .key() method returns a special view object containing all keys, which is
# useful when you want to iterate over the keys or check them individually
syntax_dict.keys()
print(syntax_dict.keys())

# printing the entire dictionary
print(syntax_dict)

# retrieving a specific value by its key
print(syntax_dict["key1"])

dict_keys(['key1', 'key2', 'key3'])
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
value1

In [69]:
# creating a dictionary
example_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# printing the entire dictionary
print(example_dict)

# accessing values by key
print(example_dict["city"])

{'name': 'John', 'age': 30, 'city': 'New York'}
New York

### Adding new key-value pairs

You can add new key-value pairs in a dictionary by using square brackets `[]`.

In [70]:
# syntax to add new key-value pairs
syntax_dict["key4"] = "new_value"

In [71]:
# adding a new key-value pair
example_dict["country"] = "USA"

# printing the updated dictionary
print(example_dict)

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

### Updating existing key-value pairs

You can similarly update key-value pairs in a dictionary by using square brackets `[]`. If the key already exists, Python will update its value.

In [72]:
# syntax to update key-value pairs
syntax_dict["key4"] = "value4"

In [73]:
# printing the existing dictionary
print(example_dict)

# updating a key-value pair
example_dict["city"] = "Chicago"

# printing the updated dictionary
print(example_dict)

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}
{'name': 'John', 'age': 30, 'city': 'Chicago', 'country': 'USA'}

### Removing a key-value pair

A key-value pair can be used with either the:

- `.pop()` method
- `del` method

In [74]:
# .pop() syntax to remove key-value pair and return removed items
removed_item = syntax_dict.pop("key4")

# delete method syntax to remove key-value pair
del syntax_dict["key3"]

In [75]:
# .pop() removes the key-value pair and returns the value of the item removed
removed_item = example_dict.pop("country")

# printing the updated dictionary
print(example_dict)
print(f"Item that was removed: {removed_item}")

{'name': 'John', 'age': 30, 'city': 'Chicago'}
Item that was removed: USA

In [76]:
# del removes the key-value pair
del example_dict["age"]

# printing the updated dictionary
print(example_dict)

{'name': 'John', 'city': 'Chicago'}

### Iterating through dictionaries

You can iterate through a dictionary using a `for` loop over `keys`, `values` and the combination, respectively.

In [77]:
# creating a dictionary
new_dict = {
    "name": "Alice",
    "age": 23,
    "city": "Philadelphia"
}

# iterate over the keys without returning values
# default behavior and preferred shorthand
for key in new_dict:
    print(key)

name
age
city

In [78]:
# iterate over the keys without returning values
# using .keys() method delivers the same results
for key in new_dict.keys():
    print(key)

name
age
city

In [79]:
# iterate over the values without returning the keys
for value in new_dict.values():
    print(value)

Alice
23
Philadelphia

In [80]:
# iterate over the keys and using indexing to return the values
for key in new_dict.keys():
    print(f"{key}: {new_dict[key]}")

name: Alice
age: 23
city: Philadelphia

In [81]:
# iterate over the key-value pair and return both
for key, value in new_dict.items():
    print(f"{key}: {value}")

name: Alice
age: 23
city: Philadelphia

### The `in` operator in dictionaries

You can use the `in` operator to check if a key exists in a dictionary.

In [82]:
# check if the key "age" exists in new_dict
if "age" in new_dict:
    print("The key 'age' exists in the dictionary.")
else:
    print("The key 'age' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

## Tuples

**Tuples** are defined using parentheses `()` and ideal for storing fixed collections of items that should not be modified.

| Feature | Description |
| --- | --- |
| Immutable |	You cannot change, add, or remove items. |
| Ordered |	Items can be accessed by their index. |
| Values | Can be any valid Python object |

### Creating a Tuple

In [83]:
# Method 1 - assigning variable
example_tuple = ("Alice", 23, 1.65, True)
print(type(example_tuple))

<class 'tuple'>

In [84]:
# Method 2 - converting a list
example_list = ["Alice", 23, 1.65, True]
print(type(example_list))
example_tuple = tuple(example_list)
print(type(example_tuple))

<class 'list'>
<class 'tuple'>

In [85]:
# Method 3 - empty tuple
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [86]:
# you cannot assign a tuple with only 1 element
# it will take the type of the element
single_tuple = ("Alice")
print(type(single_tuple))

<class 'str'>

In [87]:
# 1 of 2 elements in a tuple can be empty
simple_tuple = ("Alice",)
print(type(simple_tuple))

<class 'tuple'>

In [88]:
# accessing elements in a tuple
example_tuple
print(type(example_tuple))
print(example_tuple[0])

<class 'tuple'>
Alice

In [89]:
# tuples are immutable and cannot be changed
example_tuple[0] = "Bob"

TypeError: 'tuple' object does not support item assignment

### Unpacking a Tuple

The elements of a tuple can be unpacked and assigned to individual variables.

In [90]:
# creating a tuple
coordinates = (10, 20)
print(type(coordinates))

# unpacking the tuple
x, y = coordinates

print(f"{x} is of type {type(x)}")
print(f"{y} is of type {type(y)}")

<class 'tuple'>
10 is of type <class 'int'>
20 is of type <class 'int'>

Indexing and slicing can also be used to only return some of the elements in a tuple.

In [91]:
# creating a tuple
number_tuple = (0, 1, 2, 3, 4, 5)
print(type(number_tuple))

# getting the first 3 elements
print(number_tuple[:3])

# getting the last 3 elements
print(number_tuple[-3:])

<class 'tuple'>
(0, 1, 2)
(3, 4, 5)

### Tuple Operation

In [92]:
tup_a = (1, 2, 3)
tup_b = (4, 5, 6)

print(f"tup_a: {tup_a}  |  length: {len(tup_a)}")
print(f"tup_b: {tup_b}  |  length: {len(tup_b)}")

tup_combo = tup_a + tup_b
print(f"tup_combo: {tup_combo}  |  length: {len(tup_combo)}")

tup_a: (1, 2, 3)  |  length: 3
tup_b: (4, 5, 6)  |  length: 3
tup_combo: (1, 2, 3, 4, 5, 6)  |  length: 6

## Sets

**Sets** are defined using curly braces `{}` and are useful when you need to store a collection of items without any duplicates.

To create an empty set, you need to use parentheses `()`.

| Feature | Description |
| --- | --- |
| Unordered	| Items in a set do not have a defined order. |
| Unique |	Duplicate elements are automatically removed.|

In [93]:
# creating a set
example_set = {0, 1, 2, 3, 4, 5}
print(type(example_set))

<class 'set'>

In [94]:
# converting a list to a set
example_list = [0, 1, 2, 3, 4, 5]
print(type(example_list))

example_set = set(example_list)
print(type(example_set))

<class 'list'>
<class 'set'>

In [95]:
# adding an element to a set using .add()
example_set.add(6)
print(example_set)

{0, 1, 2, 3, 4, 5, 6}

In [96]:
# removing 1 element in a set using .pop()
example_set.pop()
print(example_set)

{1, 2, 3, 4, 5, 6}

In [97]:
# removing 1 element in a set using .remove()
print(example_set)
example_set.remove(6)
print(example_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [98]:
# removing all elements in a set
example_set.clear()
print(example_set)

set()

## Exercise 1

Count the frequency of each word in the list and output the count as a dictionary: `words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple', 'mango']`

In [99]:
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple', 'mango']
count_dict = {} # create empty dictionary to hold the count

for word in words:
    if word in count_dict:
        count_dict[word] += 1
    else:
        count_dict[word] = 1

print(count_dict)

{'apple': 3, 'banana': 2, 'orange': 1, 'mango': 1}