<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/18_exercises_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 18 | Exercises - Lists

Lists are collections of values that are accessed via a **single variable name** and:

- are **zero-indexed**, meaning the first item is at index 0
- created by putting different comma-separated values between square brackets `[]`
- can contain different data types
- negative indexing can also be used.

```python
my_list = ["Bob", 23, 1.78, True]
```

| List items | Data Type | Positive index | Negative index |
| :--- | :--- | :--- | :--- |
| "Bob" | String | 0 | -4 |
| 23 | Integer | 1 | -3 |
| 1.78 | Float | 2 | -2 |
| True | Boolean | 3 | -1 |

In [3]:
# creating a list and printing the entire list
my_list = ["Bob", 23, 1.78, True]
print(my_list)

['Bob', 23, 1.78, True]

In [4]:
# printing the first item in the list
print(my_list[0])

Bob

In [5]:
# printing the last item in the list
print(my_list[-1])

True

In [6]:
# how many items are in the list
print(len(my_list))

4

## Naming a List

It is **bad practice** to name your list **"list"**. Not only does this generic name lack descriptiveness, but it can also _overshadow_ Python's built-in type conversion function `list()`. **Name Shadowing** can cause unexpected behavior in your programs.

## Concatenating and Repeating Lists

We can combine lists, or 'concatenate' them, using the + operator. We can also repeat them using the * operator.

In [14]:
first_list = [1, 2, 3]
second_list = [4, 5, 6]

print(first_list + second_list) # concatenate
print(first_list * 3) # repeat

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

# List Slicing

**Lists** can be sliced just like **strings* by using the syntax `[start:stop:step]`:

- `start` is the index where slicing should start, is `inclusive` and is `beginning of the string` by default
- `stop` is the index where slicing should end, is `exclusive` and is the `end of the string` by default
- `step` is how many characters to skip and the default value is `1`, meaning no characters are skipped

In [10]:
team_list = ["Adam", "Blair", "Chad", "Danny", "Eli"]

# print the first 2 team members
print(team_list[0:2])

['Adam', 'Blair']

In [11]:
# print the last 2 team members
print(team_list[-2:])

['Danny', 'Eli']

In [12]:
# print every second member
print(team_list[::2])

['Adam', 'Chad', 'Eli']

## Modifying a List

Unlike strings, lists are **mutable** and their content can be changed.

In [21]:
# changing an item by assigning a new value to index position
my_list = [1, 2, 0, 4]
print(my_list)
my_list[2] = 3
print(my_list)

[1, 2, 0, 4]
[1, 2, 3, 4]

### 1. Adding elements to a list

In [22]:
# adding an item to the end of a list
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

In [23]:
# you cannot add an item to the end of list using the next available index
my_list[5] = 6

IndexError: list assignment index out of range

In [24]:
# inserting items at specific positions
my_list.insert(0, 0)
print(my_list)

[0, 1, 2, 3, 4, 5]

### 2. Removing elements from a list

In [28]:
# removing by value
fruits = ["apple", "banana", "cherry", "banana"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [29]:
# removing by index
fruits = ["apple", "banana", "cherry", "banana"]
del fruits[1]
print(fruits)

['apple', 'cherry', 'banana']

In [31]:
# removing in index and returning the value
fruits = ["apple", "banana", "cherry", "banana"]
item = fruits.pop(1)
print(f"Removed item: {item}")
print(f"The updated list: {fruits}")

Removed item: banana
The updated list: ['apple', 'cherry', 'banana']

## List Methods

In [38]:
# checking if an item is "in" a list
fruits = ["apple", "banana", "cherry"]

if "banana" in fruits:
    print("Great, you already have a banana!")
else:
    fruits.append("banana")

Great, you already have a banana!

In [39]:
# counting number of times a specified item appears in a list
fruits = ["apple", "banana", "cherry", "banana"]

print(fruits.count("apple"))
print(fruits.count("banana"))
print(fruits.count("kiwi"))

1
2
0

In [42]:
# reversing the order of a list
fruits = ["date", "fig", "apple", "banana", "grape", "cherry"]

fruits.reverse()
print(fruits)

['cherry', 'grape', 'banana', 'apple', 'fig', 'date']

In [43]:
# sorting a list
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'date', 'fig', 'grape']

## Functions that Accepts Lists

Some built-in functions are happy to take a list as an argument.

In [48]:
# using sum() function on a list
numbers = [13, 3, 8, 14, 2]
print(sum(numbers))

40

In [49]:
# using min() function on a list
print(min(numbers))

2

In [50]:
# using max() function on a list
print(max(numbers))

14

## Exercise 1

- Create a new list and store it in a variable named `items`.
- The list should contain three elements — a string, followed by a float, followed by an int.
- Print the list to the screen.

In [2]:
items = ["Alfred", 2.34, 40]

print(items)

['Alfred', 2.34, 40]

## Exercise 2

- Create a list named `titanic_crew` that contains the names "Captain Smith", "Mr. Murdoch", and "Mr. Lightoller".
- Print the third crew member's name from the `titanic_crew` list using list indexing.

In [7]:
titanic_crew = ["Captain Smith", "Mr. Murdoch", "Mr. Lightoller"]

print(titanic_crew[2])

Mr. Lightoller

## Exercise 3

- Below is a code with a pre-defined list, representing a person's favorite fruits ranked from most to least favorite.
- Adjust the **print** statement to showcase the appropriate information.

_Note: The `\n` is a special symbol that is known as the newline character._

```python
#fix the below code and fill appropraite syntax inplace of '__'
top_fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew", "kiwi", "lemon"]
print(f"My list contains a total of  fruits: {__(top_fruits)}. \nMy most loved fruit is: {top_fruits[__]}. \nMy least loved fruit is: {top_fruits[__]}")
```

In [8]:
#fix the below code and fill appropraite syntax inplace of '__'
top_fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew", "kiwi", "lemon"]
print(f"My list contains a total of  fruits: {len(top_fruits)}. \nMy most loved fruit is: {top_fruits[0]}. \nMy least loved fruit is: {top_fruits[-1]}")

My list contains a total of  fruits: 10.
My most loved fruit is: apple.
My least loved fruit is: lemon

## Exercise 4

- Not sure how to double the list? Do it the same way as you did with strings.
- Otherwise, the function should return the list with its elements repeated (doubled).
- If the provided list is empty, the function should return it unchanged.
- Create a function named `double_or_nothing` that accepts a list as a parameter.

In [9]:
def double_or_nothing(my_list):
    if len(my_list) == 0:
        return my_list
    else:
        return my_list * 2

print(double_or_nothing([1, 2, 3]))

[1, 2, 3, 1, 2, 3]

## Exercise 5

- Write a function, `remove_ends`, that accepts a list as input and **returns** a new list with the first and last elements removed.
- You can assume the given list contains at least two items.
- Example:

```python
remove_ends(["Jack", "Rose", "Cal"])
["Rose"]
remove_ends([12, 50, 651, 64, 23])
[50, 651, 64]
```

In [16]:
def remove_ends(old_list):
  new_list = old_list[1:-1]
  return new_list

print(remove_ends(["Jack", "Rose", "Cal"]))
print(remove_ends([12, 50, 651, 64, 23]))

['Rose']
[50, 651, 64]

## Exercise 6

- Create a function `combine_and_double` that takes **two lists** as input.
_ The function combines the two lists and then duplicates all the elements.
- The function returns the new, combined and doubled list.
- Example:

```python
combine_and_double(["Jane", "Iman"], ["Tommy", "Kylie"])
['Jane', 'Iman', 'Tommy', 'Kylie', 'Jane', 'Iman', 'Tommy', 'Kylie']
```

In [18]:
def combine_and_double(list1, list2):
    combined_list = list1 + list2
    doubled_list = combined_list * 2
    return doubled_list

print(combine_and_double(["Jane", "Iman"], ["Tommy", "Kylie"]))
print(combine_and_double(["1", "2"], ["3", "4"]))

['Jane', 'Iman', 'Tommy', 'Kylie', 'Jane', 'Iman', 'Tommy', 'Kylie']
['1', '2', '3', '4', '1', '2', '3', '4']

# Exercise 7

- Create a list called `classes` with these strings: "First Class", "Second Class", "Third Class", "Crew".
- A mistake was made and "Crew" is not a class. Replace "Crew" with "Steerage" in the `classes` list.
- A new class has been created named "Luxury Class". Add "Luxury Class" at the start of the `classes` list.
- Print the list.

In [25]:
classes = ["First Class", "Second Class", "Third Class", "Crew"]
classes[3] = "Steerage"
classes.insert(0, "Luxury Class")
print(classes)

['Luxury Class', 'First Class', 'Second Class', 'Third Class', 'Steerage']

# Exercise 8

- Write a function `smart_append` that takes two parameters — a list and a value (of any type).
- If the value is not already in the list, the function will append it and **return** the list.
- Otherwise, it will **return** the list untouched.

```python
smart_append([1, 2, 3], 3)
[1, 2, 3]
smart_append([1, 2, 3], 4)
[1, 2, 3, 4]
```

In [26]:
def smart_append(my_list, value):
    if value in my_list:
        return my_list
    else:
        my_list.append(value)
        return my_list

print(smart_append([1, 2, 3], 3))
print(smart_append([1, 2, 3], 4))

[1, 2, 3]
[1, 2, 3, 4]

## Exercise 9

- Write a function called `head_tail` that expects a list as a parameter.
- The function checks if the first and last item of the list are equal.
- If they are, they are both removed, and the updated list is **returned**.
- If they are not, the list is returned unchanged.

In [33]:
def head_tail(my_list):
    if my_list[0] == my_list[-1]:
        del my_list[0]
        del my_list[-1]
        return my_list
    else:
        return my_list

print(head_tail([1, 2, 3, 4, 1]))
print(head_tail(["a", "b", "c", "d"]))

[2, 3, 4]
['a', 'b', 'c', 'd']

## Exercise 10

- Let’s create a small user interface for modifying a list of fruits.
- Write a program that asks the user to choose between **addition** and **removal** (The user will type one of the words).
- Depending on the choice, the program adds an item to or removes an item **from the end** of a list.
- If the user wants to add an item, the program will ask him for the name of the fruit to add.

In [35]:
fruits = ["apple", "banana", "cherry", "banana"]

def add_or_remove(action):
  if action == "add":
    fruit = input("What fruit would you like to add? ")
    fruits.append(fruit)
    print(f"Updated fruits: {fruits}")
  elif action == "remove":
    removed_fruit = fruits.pop(-1)
    print(f"Removed fruit: {removed_fruit}")
    print(f"Updated fruits: {fruits}")

print(f"We have these fruits: {fruits}")
action = input("Would you like to add or remove? ")
add_or_remove(action)

We have these fruits: ['apple', 'banana', 'cherry', 'banana']
Would you like to add or remove? remove
Removed fruit: banana
Updated fruits: ['apple', 'banana', 'cherry']

## Exercise 11

- Write a function named `no_empty_first_item` that takes a **list** of strings as a parameter.
- The function should check if the first item in the list is an **empty string**. If it is, it will delete this item and **return** the updated list.
- Otherwise, it will **return** the list unchanged.
- Example:

```python
no_empty_first_item(["","Hello","World"])
["Hello","World"]
no_empty_first_item(["Goodbye","World"])
["Goodbye","World"]
```

In [37]:
def no_empty_first_item(my_list):
    if my_list[0] == "":
        del my_list[0]
        return my_list
    else:
        return my_list

print(no_empty_first_item(["","Hello","World"]))
no_empty_first_item(["Goodbye","World"])

['Hello', 'World']

['Goodbye', 'World']

## Exercise 12

The following program was supposed to sort the list of passengers, but something went wrong. Can you fix the program so that it sorts and then prints the passenger list?

```python
passengers = ["John Jacob Astor IV", "Benjamin Guggenheim", "Isidor Straus"]
passengers=passengers.sort
print(passengers)
```

In [44]:
passengers = ["John Jacob Astor IV", "Benjamin Guggenheim", "Isidor Straus"]
passengers.sort()
print(passengers)

['Benjamin Guggenheim', 'Isidor Straus', 'John Jacob Astor IV']

## Exercise 13

- Create a function called `average` that receives a **list** as an argument, and **returns** its average.
- You can assume that the list is not empty and contains only numbers.

In [51]:
def average(my_list):
  return sum(my_list) / len(my_list)

print(average([1, 2, 3, 4, 5]))

3.0

## Exercise 14

- In a certain school, the teacher wants to know the gap between the top and the lowest grade in an exam.
- Create a function called `grade_range` that accepts a **list** of ints as an argument, and **returns** the range, which is the difference between the maximum and minimum values in the list.

In [52]:
def grade_range(grades):
  return max(grades) - min(grades)

print(grade_range([75, 82, 63, 94, 78]))

31