<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/20_exercises_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20 | Exercises - Loops

These programming tools are used for control flow:

- conditional statements
- repetition or iteration with loops.

## `for` Loops

A **`for` loop** allows us to execute a block of code a certain number of times by iterating over a sequence. It works by taking each item from a sequence, one at a time, and temporarily assigning it to a loop variable. This allows the code block within the loop to execute once for every item in the sequence.

In [ ]:
# basic for loop syntax
for loop_variable in sequence:
    # code block to be executed

In [2]:
for i in [1, 2, 3]:
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!

## The Loop Variable

The **loop variable** is a temporary placeholder that takes on a different value with each pass of the loop. It is completely independent of the actual values in the sequence.

- The number of times a `for` loop runs is determined by the number of items in the sequence, not by the values themselves.
- The type of the loop variable matches the type of the item in the sequence at that moment.

‼️ Note that it is best practice to use a descriptive name for a **loop variable**. Using `i` is considered acceptable only when looping through consecutive numbers.

⚠️ **Never modify the list you’re iterating through in the for loop!** When elements are added or removed during iteration, it can disrupt the mechanics of the for loop.

In [3]:
# loop will run 3 times, regardless of the data types
for i in [1, "a", 3]:
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!

In [6]:
# using the loop variable inside the loop
for i in [1, "a", 3]:
  print(f"Hello, {i}")

Hello, 1
Hello, a
Hello, 3

In [7]:
# remember the data types contained in your sequence
# when using the loop variable for calculations
for grade in [80, 75, 87, 95]:
    print(grade * 1.2)

96.0
90.0
104.39999999999999
114.0

In [ ]:
# loops with the list as literal value
for name in ["Alice", "Bob", "Charlie"]:
    print(name.upper())

# equivalent to the list in a variable
names = ["Alice", "Bob", "Charlie"]
for name in names:
    print(name.upper())

## The Range Function

**Range** is a built-in function that provides a way to generate a sequence of numbers. Range can take up to 3 arguments using the syntax `(start, stop, step)`:

- Required:
  - `stop` indicates where the sequence will stop and is `exclusive`
- Optional:
  - `start` indicates where to begin the sequence, is `inclusive` and defaults to `0` if not provided
  - `step` indicates the increments in the sequence and defaults to `1` if not provided

In [20]:
# range with 1 argument
for i in range(3):
  print(i)

0
1
2

In [22]:
# range with 2 arguments
for i in range(3, 6):
  print(i)

3
4
5

In [23]:
# range with 3 arguments
for i in range(3, 13, 3):
  print(i)

3
6
9
12

## Interating over Strings

In Python, a **string** is considered a sequence of characters, so we can iterate over it just like we can with a list.

In [32]:
text = 'Python'
for char in text:
    print(char)

P
y
t
h
o
n

In [34]:
# iterating over a string including an expression and function
def print_upper_letters(text):
    for char in text:
        if char.isupper():
            print(char * 5)

print_upper_letters('Hello, World!')

HHHHH
WWWWW

## Exercise 1

- Now that you've learned the basics of a `for` loop, try to create one yourself!
- Print the message "Ahoy, sailor!" six times using a `for` loop.

In [1]:
for i in range(6):
    print("Ahoy, sailor!")

Ahoy, sailor!
Ahoy, sailor!
Ahoy, sailor!
Ahoy, sailor!
Ahoy, sailor!
Ahoy, sailor!

# Exercise 2

- Write a function `print_square_numbers` that will run a square number calculator that works **exactly five times**.
- Inside the function, you should get an **_int_** as input from the user, and then print the square of that number.

_Hint: First, write a function that runs the desired process once, and only then add the loop to it._

In [ ]:
def print_square_numbers():
    for i in range(5):
        num = int(input("Enter a number: "))
        print(num**2)

## Exercise 3

Write a program that iterates through the number 1-7, and prints to the screen the square of each number.

In [9]:
for i in range(1, 8):
  print(f"The square of {i}: {i**2}")

The square of 1: 1
The square of 2: 4
The square of 3: 9
The square of 4: 16
The square of 5: 25
The square of 6: 36
The square of 7: 49

## Exercise 4

Create a program that produces the following star pattern using for loops:

> \*  
> \**  
> \***  
> \****  
> \*****  

_Hint: Iterate using the list [1, 2, 3, 4, 5]._

In [11]:
stars = "*"

for i in [1, 2, 3, 4, 5]:
  print(stars)
  stars = stars + "*"

*
**
***
****
*****

## Exercise 5

- Write a function called `multi_table` that prints a multiplication table of a given number.
- The function will accept one **_int_** parameter `num` and will then **print** the first 6 multiplications of that number.
- For example:

```python
multi_table(3)
3
6
9
12
15
18
```

In [14]:
def multi_table(num):
  for i in [1, 2, 3, 4, 5, 6]:
    print(num * i)

multi_table(3)

3
6
9
12
15
18

## Exercise 6

- `groceries` is a list of groceries that were bought in the supermarket: `groceries = ["Milk", "Eggs", "Bread", "Apples", "Carrots", "Chicken", "Rice"]`
- Iterate through it using a for loop, and print “I bought <name>!” for each one, in a new line.
- Remember to choose a good name for your loop variable.

In [15]:
groceries = ["Milk", "Eggs", "Bread", "Apples", "Carrots", "Chicken", "Rice"]

for item in groceries:
  print(f"I bought {item}!")

I bought Milk!
I bought Eggs!
I bought Bread!
I bought Apples!
I bought Carrots!
I bought Chicken!
I bought Rice!

## Exercise 7

- `temperatures` is a list of temperatures in Celsius that you want to convert to Fahrenheit: `temperatures = [15, 22, 5, 18, 30, 12, 28, 25, 17, 20]`
- Iterate through it using a for loop, and print the converted temperatures. Each one, in a new line.
- Remember to use the formula (temperature * 9/5) + 32 for conversion.

In [16]:
temperatures = [15, 22, 5, 18, 30, 12, 28, 25, 17, 20]
for temp in temperatures:
  print(f"{temp}°C = {(temp * 9/5) + 32}°F")

15°C = 59.0°F
22°C = 71.6°F
5°C = 41.0°F
18°C = 64.4°F
30°C = 86.0°F
12°C = 53.6°F
28°C = 82.4°F
25°C = 77.0°F
17°C = 62.6°F
20°C = 68.0°F

## Exercise 8

- `words` is a list of words that you have to filter: `words = ['Apple', 'Banana', 'Avocado', 'Apricot', 'Artichoke', 'Almond', 'Broccoli', 'Asparagus', 'Aloe', 'Anise']`
- Iterate through it, and print only the words that begin with the letter "A" in a new line.

In [17]:
words = ['Apple', 'Banana', 'Avocado', 'Apricot', 'Artichoke', 'Almond', 'Broccoli', 'Asparagus', 'Aloe', 'Anise']
for word in words:
  if word[0] == "A":
    print(word)

Apple
Avocado
Apricot
Artichoke
Almond
Asparagus
Aloe
Anise

## Exercise 9

Using a for loop and the `range` function, write a program that prints “Hello” 5 times.

In [24]:
for i in range(5):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

## Exercise 10

- Write a function called `count_to_n`, that takes an argument `n` **_(int)_**.
- The function will **print** the numbers from `0` up to but not including `n` using a for loop and the range function.

In [25]:
def count_to_n(n):
  for i in range(n):
    print(i)

count_to_n(5)

0
1
2
3
4

## Exercise 11

- Write a program that will **print** all the numbers between 0 and 50.
- For numbers that are divisible by 10 (such as 10, 20, 30...), print an asterisk (*) after the number.

_Hint: Use a condition inside the for loop._

In [28]:
def count_to_50():
  for i in range(51):
    if i % 10 == 0:
      print(f"{i}*")
    else:
      print(i)

count_to_50()

0*
1
2
3
4
5
6
7
8
9
10*
11
12
13
14
15
16
17
18
19
20*
21
22
23
24
25
26
27
28
29
30*
31
32
33
34
35
36
37
38
39
40*
41
42
43
44
45
46
47
48
49
50*

## Exercise 12

- Write a function called `even_range`, that takes two integers `n` and `m` **_(int)_**.
- The function will print all the even numbers between `n` and `m`.

In [29]:
def even_range(n, m):
  for i in range(n, m + 1):
    if i % 2 == 0:
      print(i)

even_range(1, 10)

2
4
6
8
10

## Exercise 13

Write a function `print_non_special` that takes a string as input and prints all the letters that are not one of “!”, “?” or “#”.

In [35]:
def print_non_special(text):
  for char in text:
    if char not in ["!", "?", "#"]:
      print(char)

print_non_special("OMG!?!#?")

O
M
G

## Exercise 14

- Write a function `word_lengths` that receives a **list of strings**.
- The function will print each string along with its length. For instance, for the string "Alice", the function should print "Alice has 5 characters".

In [37]:
def word_lengths(word_list):
  for word in word_list:
    print(f"{word} has {len(word)} characters.")

word_lengths(["Alice", "Bob", "Charlie"])

Alice has 5 characters.
Bob has 3 characters.
Charlie has 7 characters.

## Exercise 15

- Write a function `to_percent` that transforms a given list of float values, ranging between 0 and 1, into percentages. (0 = 0, 0.5 = 50, 1 = 100)
- Inside the function, create a new list.
- Use a `for` loop to iterate through the given list of floats, and for each one, **append** its percent value **to the new list**.
- The function will **return** the new list.

In [39]:
def to_percent(float_list):
  percent_list = []
  for num in float_list:
    percent_list.append(int(num * 100))
  return percent_list

to_percent([0.3, 0.5, 1])

[30, 50, 100]

## Exercise 16

- Write a function `add_suffix` that takes a given list of strings and a suffix string as arguments.
- The function will return a new list containing the all the strings with the suffix added.
- For example:

```python
add_suffix([”yahoo”, “google”], “.com”)
[”yahoo.com, “google.com”]
```

In [40]:
def add_suffix(domain_list, suffix):
  new_list = []
  for domain in domain_list:
    new_list.append(domain + suffix)
  return new_list

add_suffix(["yahoo", "google"], ".com")

['yahoo.com', 'google.com']