<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/26_exercises_nested_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 26 | Exercises - Nested For Loops

## The `end` parameter

`end` is an optional parameter for the `print` functions that changes its default behavior of starting a new line after each execution.

In [3]:
for i in range(5):
    print("*",end="")
print()

*****

## Nesting

A **nested iteration** statement is an iteration statement that appears in the body of another iteration statement.

In [6]:
for i in range(5): # outer loop runs 5 times
    for x in range(5): # inner loop runs 5x5=25 times
        print("*", end="")
print()

*************************

In [5]:
for i in range(5): # outer loop runs 5 times
    print("-", end="") # only in outer loop so only 5 times
    for x in range(5): # inner loop runs 5x5=25 times
        print("*", end="")
print()

-*****-*****-*****-*****-*****

In [8]:
for i in range(5): # outer loop runs 5 times
    for x in range(5): # inner loop runs 5x5=25 times
        print("*", end="")
    print() # handles line breaks 5 times as part of outer loop

*****
*****
*****
*****
*****

## Using Both Loop Variables

In [19]:
for i in range(3): # outer loop runs 3 times
    for j in range(3): # inner loop runs 3x3=9 times
         print(f"{i}, {j}") # all possible pairs of both variables

0, 0
0, 1
0, 2
1, 0
1, 1
1, 2
2, 0
2, 1
2, 2

In [22]:
# creating a multiplication table using both loop variables
for i in range(1,6): # outer loop runs 5 times
    for j in range(1,6): # inner loop runs 5x5=25 times
         print(f"{i*j}\t", end="") # all possible pairs of both variables
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

⚠️ Using `\t` in a `print` statement inserts a tab character, which creates uniform spacing and alignment

## Dynamic Inner Loops

Sometimes, the number of iterations in an inner loop is determined by the current value of the outer loop’s variable. This approach allows for more complex and adaptable looping structures.

In [ ]:
for i in range(5): # outer loop runs 5 times
    for j in range(i + 1): # inner loop iterations determined by outer loop variable + 1
        print("*", end="")
    print()

## Exercise 1

Fix the following code to prints all the words inside the list `words`, one in each line. Manipulate it so that every word would be printed 3 times. Use nested loops.

```python
words = ["boom", "dream", "walk"]
for word in words:
    print(word)
```

In [13]:
words = ["boom", "dream", "walk"]
for word in words:
  for x in range(3):
      print(word)

boom
boom
boom
dream
dream
dream
walk
walk
walk

## Exercise 2

Using the same list and nested loops, create code that will output the words, three times each, in the following format:

> boom boom boom  
> dream dream dream  
> walk walk walk  

```python
words = ["boom", "dream", "walk"]
for word in words:
    print(word)
```

In [16]:
words = ["boom", "dream", "walk"]
for word in words:
  for x in range(3):
      print(word, end=" ")
  print()

boom boom boom
dream dream dream
walk walk walk

## Exercise 3

Print all the possible pairs of numbers between 1-4, unless the numbers are equal. Each pair will have a line of its own. Example:

```python
1, 2
1, 3
1, 4
2, 1
2, 3
```

In [24]:
for i in range(1,5):
  for j in range(1,5):
    if i != j:
      print(f"{i}, {j}")

1, 2
1, 3
1, 4
2, 1
2, 3
2, 4
3, 1
3, 2
3, 4
4, 1
4, 2
4, 3

## Exercise 4

Create the following pattern using nested loops:

```python
1
22
333
4444
55555
```

In [25]:
for i in range(1,6):
  for j in range(i):
    print(i, end="")
  print()

1
22
333
4444
55555

## Exercise 5

Create the same 5-line triangle shape as before, but this time — upside down:

```python
*****
****
***
**
*
```

In [26]:
for i in range(5,0,-1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*