<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/27_exercises_nested_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 27 | Exercises - Nested Data Structures

Python allows us to create sophisticated types for managing data by nesting lists, dictionaries and tuples in each other, which essentially create collections of collections.

## Example of a Nested Structure

In [1]:
# the list countries contains 4 lists
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"],
             ["India", "New Delhi", "INR"]
            ]

# Printing the first item prints the first list
print(countries[0])

['Spain', 'Madrid', 'EUR']

As every item in the list `countries` is a list itself, we need to use double square brackets `[]` to retrieve only 1 item inside the inner list.

In [2]:
# printing the first item of the first item
print(countries[0][0])

# doing the same thing, in two steps
first_country_info = countries[0]
print(first_country_info[0])

Spain
Spain

In [4]:
# extract the USA list into a separate variable
only_usa = countries[1]
print(only_usa[1])

# using double square brackets to achieve the same
print(countries[1][1])

Washington
Washington

## Changing values in nested lists

Updating a single item with `[]` will update an entire list.

In [6]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"],
             ["India", "New Delhi", "INR"]
            ]

print("Before:")
print(countries)

countries[1] = ["Netherlands", "Amsterdam", "EUR"]
print("After countries[1]:")
print(countries)

Before:
[['Spain', 'Madrid', 'EUR'], ['United States', 'Washington', 'USD'], ['Canada', 'Ottawa', 'CAD'], ['India', 'New Delhi', 'INR']]
After countries[1]:
[['Spain', 'Madrid', 'EUR'], ['Netherlands', 'Amsterdam', 'EUR'], ['Canada', 'Ottawa', 'CAD'], ['India', 'New Delhi', 'INR']]

By using `[][]` you can update a single item in an inner list.

In [8]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"],
             ["India", "New Delhi", "INR"]
            ]

print("Before:")
print(countries)

countries[2][1] = "Toronto"
print("After countries[2][1]:")
print(countries)

Before:
[['Spain', 'Madrid', 'EUR'], ['United States', 'Washington', 'USD'], ['Canada', 'Ottawa', 'CAD'], ['India', 'New Delhi', 'INR']]
After countries[2][1]:
[['Spain', 'Madrid', 'EUR'], ['United States', 'Washington', 'USD'], ['Canada', 'Toronto', 'CAD'], ['India', 'New Delhi', 'INR']]

## Iterating through a list of lists

A `for` loop iterating over a list of lists will return an entire list. At each step, the loop variable is assigned the entire sublist, not the individual elements inside it.

In [15]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
           ]

for country in countries:
    print(country)

['Spain', 'Madrid', 'EUR']
['United States', 'Washington', 'USD']
['Canada', 'Ottawa', 'CAD']

Indexing can be used inside the `for` loop to return a single value from every sublist.

In [16]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
            ]

for country in countries:
    name = country[0]
    print(name)

Spain
United States
Canada

**List unpacking** (similar to tuples) can be used to assign the individual elements of the inner list to variables.

In [ ]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
            ]

for country in countries:
    name, capital_city, currency = country  # List unpacking
    print(f"{name} ({capital_city})")

**List unpacking** can also be done directly in the header of the `for` loop for cleaner code.

In [17]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
            ]

for name, capital_city, currency in countries:  # List unpacking moved to header
    print(f"{name} ({capital_city})")

Spain (Madrid)
United States (Washington)
Canada (Ottawa)

## Nested Iteration

When we're unsure of the size of each sublist, we can used **nested loops** to access all the items from the sublists.

In [21]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
            ]

for country in countries:
    print("sublist:")
    for item in country:
        print("\titem: " + item) # \t inserts a tab character

sublist:
	item: Spain
	item: Madrid
	item: EUR
sublist:
	item: United States
	item: Washington
	item: USD
sublist:
	item: Canada
	item: Ottawa
	item: CAD

## The `enumerate()` Function

The `enumerate()` function is a powerful tool for iterating over a list while also keeping track of the index of each item. It adds a counter to an iterable and returns it as a series of tuples, each containing an index and its corresponding item.

This is a much more efficient and readable way to get an index than using `list.index()` inside a loop, which has to search the entire list at every iteration.

In [11]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
            ]

for index, country in enumerate(countries):
    print(f"Index: {index}, Country: {country}")

Index: 0, Country: ['Spain', 'Madrid', 'EUR']
Index: 1, Country: ['United States', 'Washington', 'USD']
Index: 2, Country: ['Canada', 'Ottawa', 'CAD']

You could achieve the same results with the code below, but `enumerate()` is clearly more efficient and readable.

In [ ]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
            ]

for index in range(len(countries)):
    country = countries[index]
    print(f"Index: {index}, Country: {country}")

## ⚠️ Structuring Nested Data

When constructing nested data structures, it is best practice to keep the structure consistent across each level. The more the structure deviates, the more extra code is required to account for special cases.

In [26]:
nested_struct = [1, 2, ['a', 'b', 'c'], ['d', 'e'], ['f', 'g', 'h']]
for sublist in nested_struct:
    print("level1: ")
    if type(sublist) is list:
        for item in sublist:
            print(f"     level2: {item}")
    else:
        print(sublist)

level1:
1
level1:
2
level1:
     level2: a
     level2: b
     level2: c
level1:
     level2: d
     level2: e
level1:
     level2: f
     level2: g
     level2: h

## List of Dictionaries

It is not optimal to use a nested lists to keep different kinds of information and it can make your code difficult to read. Using a list of _named keys dictionaries_ instead can solve this.

In [27]:
countries = [{  "name"         : "Spain",
                "capital_city" : "Madrid",
                "currency"     : "EUR"
             },
             {  "name"         : "United States",
                "capital_city" : "Washington",
                "currency"     : "USD"
             }
            ]

print(countries[1]["capital_city"])

Washington

## Nested Dictionaries

Lists of dictionaries still requires using list indices (`list[0][dict_key]`) that can make your code more difficult to read. Nesting dictionaries will improve readibility.

In [34]:
countries = {"ES" : {"name": "Spain",
                     "capital_city": "Madrid",
                     "currency": "EUR"
                    },
             "US" : {"name": "United States",
                     "capital_city": "Washington",
                     "currency": "USD"
                    },
             "CA" : {"name": "Canada",
                     "capital_city": "Ottawa",
                     "currency": "CAD"
                    }
            }

print(countries["US"]["capital_city"])

Washington

## Exercise 1

Below, we have provided a list of lists. Use indexing to assign the element ‘Ottawa’ to the variable name `capital_canada`.

```python
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"],
             ["India", "New Delhi", "INR"]
            ]
#Here your code
```

In [9]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"],
             ["India", "New Delhi", "INR"]
            ]
capital_canada = countries[2][1]
print(capital_canada)

Ottawa

## Exercise 2

Using the nested data structure from `Exercise 1` and indexing, assign the whole list about the United States to the variable name `usa`.

In [10]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"],
             ["India", "New Delhi", "INR"]
            ]
usa = countries[1]
print(usa)

['United States', 'Washington', 'USD']

## Exercise 3

Using the nested data structure from `Exercise 1`, change the first country’s name from “Spain” to “Espana”, without modifying the initial list definition.

In [11]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"],
             ["India", "New Delhi", "INR"]
            ]
print("Before:")
print(countries)

countries[0][0] = "Espana"
print("After countries[2][1]:")
print(countries)

Before:
[['Spain', 'Madrid', 'EUR'], ['United States', 'Washington', 'USD'], ['Canada', 'Ottawa', 'CAD'], ['India', 'New Delhi', 'INR']]
After countries[2][1]:
[['Espana', 'Madrid', 'EUR'], ['United States', 'Washington', 'USD'], ['Canada', 'Ottawa', 'CAD'], ['India', 'New Delhi', 'INR']]

## Exercise 4

Using the nested data structure from `Exercise 1`, replace the last country to “France”, with capital “Paris” and currency “EUR”. Don’t change the initial list definition.

In [12]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"],
             ["India", "New Delhi", "INR"]
            ]
print("Before:")
print(countries)

countries[-1] = ["France", "Paris", "EUR"]
print("After countries[-1]:")
print(countries)

Before:
[['Spain', 'Madrid', 'EUR'], ['United States', 'Washington', 'USD'], ['Canada', 'Ottawa', 'CAD'], ['India', 'New Delhi', 'INR']]
After countries[-1]:
[['Spain', 'Madrid', 'EUR'], ['United States', 'Washington', 'USD'], ['Canada', 'Ottawa', 'CAD'], ['France', 'Paris', 'EUR']]

## Exercise 5

The country of Canada now has two currencies. Using indexing, assign the value of the second currency to the variable name currency.

_Hint: That’s a list inside a list inside a list!_

```python
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", ["CAD", "USD"]],
             ["India", "New Delhi", "INR"]
            ]
#Here your code
```

In [14]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", ["CAD", "USD"]],
             ["India", "New Delhi", "INR"]
            ]
currency = countries[2][2][1]
print(currency)

USD

## Exercise 6

Below, we have provided a list of lists that contain information about actors. Write code to print all the **last names** (each one on its own line).

```python
actors = [['Leonardo', 'DiCaprio', '11/11/1974'],
          ['Scarlett', 'Johansson', '11/22/1984'],
          ['Denzel', 'Washington', '12/28/1954']
         ]
```

In [18]:
actors = [['Leonardo', 'DiCaprio', '11/11/1974'],
          ['Scarlett', 'Johansson', '11/22/1984'],
          ['Denzel', 'Washington', '12/28/1954']
         ]
for actor in actors:
    print(actor[1])

DiCaprio
Johansson
Washington

## Exercise 7

Using the nested data structure from `Exercise 6`, write code to create a new list that contains every person’s full name, and save that list as `full_names`.

In [19]:
actors = [['Leonardo', 'DiCaprio', '11/11/1974'],
          ['Scarlett', 'Johansson', '11/22/1984'],
          ['Denzel', 'Washington', '12/28/1954']
         ]
full_names = []
for actor in actors:
    full_names.append(f"{actor[0]} {actor[1]}")
print(full_names)

['Leonardo DiCaprio', 'Scarlett Johansson', 'Denzel Washington']

## Exercise 8

Write code to print country name and capital city in this format: “Spain (Madrid)”, for all the countries. Use tuple unpacking (for `name`, `capital_city`, `currency`) to create beautiful code!

```python
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
            ]
#Your code here
```

In [20]:
countries = [["Spain", "Madrid", "EUR"],
             ["United States", "Washington", "USD"],
             ["Canada", "Ottawa", "CAD"]
            ]
for name, capital_city, currency in countries:
    print(f"{name} ({capital_city})")

Spain (Madrid)
United States (Washington)
Canada (Ottawa)

## Exercise 9

Use nested iteration to print all the items in `products` one by one (each item should be on its own line).

```python
products = [['apples', 'bananas', 'oranges', 'blueberries', 'lemons'],
            ['carrots', 'peas', 'cucumbers', 'green beans'],
            ['root beer', 'smoothies', 'cranberry juice']
            ]
```

In [23]:
products = [['apples', 'bananas', 'oranges', 'blueberries', 'lemons'],
            ['carrots', 'peas', 'cucumbers', 'green beans'],
            ['root beer', 'smoothies', 'cranberry juice']]

for product in products:
    for item in product:
        print(item)

apples
bananas
oranges
blueberries
lemons
carrots
peas
cucumbers
green beans
root beer
smoothies
cranberry juice

## Exercise 10

Use nested iteration to sum all the numbers from all the lists, and put the result in a variable called `sum_items`: `numbers = [[1, 3, 13], [34, 13, 100, 15], [-1]]`

In [24]:
numbers = [[1, 3, 13],
           [34, 13, 100, 15],
           [-1]
           ]
sum_items = 0
for number in numbers:
    for item in number:
        sum_items += item
print(sum_items)

178

## Exercise 11

Use nested iteration to save every string containing “b” into a new list named `b_strings`.

```python
products = [['apples', 'bananas', 'oranges', 'blueberries', 'lemons'],
            ['carrots', 'peas', 'cucumbers', 'green beans'],
            ['root beer', 'smoothies', 'cranberry juice']
            ]
```

In [25]:
products = [['apples', 'bananas', 'oranges', 'blueberries', 'lemons'],
            ['carrots', 'peas', 'cucumbers', 'green beans'],
            ['root beer', 'smoothies', 'cranberry juice']
            ]
b_strings = []
for product in products:
    for item in product:
        if "b" in item:
            b_strings.append(item)
print(b_strings)

['bananas', 'blueberries', 'cucumbers', 'green beans', 'root beer', 'cranberry juice']

## Exercise 12

In a variable called `leo`, create a single dictionary in the “Named keys” pattern to represent the information about Leonardo DiCaprio:

| key | value |
| --- | --- |
| first_name | "Leonardo" |
| last_name | "DiCaprio" |
| birth_date | "11/11/1974" |

In [29]:
leo = {"first_name": "Leonardo",
       "last_name": "DiCaprio",
       "birth_date": "11/11/1974"
      }
print(leo)

{'first_name': 'Leonardo', 'last_name': 'DiCaprio', 'birth_date': '11/11/1974'}

## Exercise 13

Below, we have provided the same list-of-dicts called `countries`. Use indexing to change the capital city of Canada to “Toronto”.

```python
countries = [{"name": "Spain",
              "capital_city": "Madrid",
              "currency": "EUR"
             },
             {"name": "United States",
              "capital_city": "Washington",
              "currency": "USD"
             },
             {"name": "Canada",
              "capital_city": "Ottawa",
              "currency": "CAD"
             }
            ]
#Your Code here
```

In [32]:
countries = [{"name": "Spain",
              "capital_city": "Madrid",
              "currency": "EUR"
             },
             {"name": "United States",
              "capital_city": "Washington",
              "currency": "USD"
             },
             {"name": "Canada",
              "capital_city": "Ottawa",
              "currency": "CAD"
             }
            ]
print("Canada before:")
print(countries[2])

countries[2]["capital_city"] = "Toronto"
print("Canada after:")
print(countries[2])

Canada before:
{'name': 'Canada', 'capital_city': 'Ottawa', 'currency': 'CAD'}
Canada after:
{'name': 'Canada', 'capital_city': 'Toronto', 'currency': 'CAD'}

## Exercise 14

Below, we have provided a list-of-dicts called `actors`. Use indexing to change the first name of Scarlett to “Scarlett Ingrid”, and DiCaprio’s birthdate to “11/01/1997”.

```python
actors = [{  "first_name": "Leonardo",
                "last_name": "DiCaprio",
                "birth_date": "11/11/1974"
             },
             {  "first_name": "Scarlett",
                "last_name": "Johansson",
                "birth_date": "11/22/1984"
             }
            ]
```

In [33]:
actors = [{  "first_name": "Leonardo",
                "last_name": "DiCaprio",
                "birth_date": "11/11/1974"
             },
             {  "first_name": "Scarlett",
                "last_name": "Johansson",
                "birth_date": "11/22/1984"
             }
            ]
print("Before:")
print(actors)

actors[1]["first_name"] = "Scarlett Ingrid"
actors[0]["birth_date"] = "11/01/1997"
print("After:")
print(actors)

Before:
[{'first_name': 'Leonardo', 'last_name': 'DiCaprio', 'birth_date': '11/11/1974'}, {'first_name': 'Scarlett', 'last_name': 'Johansson', 'birth_date': '11/22/1984'}]
After:
[{'first_name': 'Leonardo', 'last_name': 'DiCaprio', 'birth_date': '11/01/1997'}, {'first_name': 'Scarlett Ingrid', 'last_name': 'Johansson', 'birth_date': '11/22/1984'}]

## Exercise 15

Extract the value of the currency of the United States from the nested dictionary to a variable named `us_currency`. Do not hard code this.

```python
countries = {"ES" : {"name": "Spain",
                     "capital_city": "Madrid",
                     "currency": "EUR"
                    },
             "US" : {"name": "United States",
                     "capital_city": "Washington",
                     "currency": "USD"
                    },
             "CA" : {"name": "Canada",
                     "capital_city": "Ottawa",
                     "currency": "CAD"
                    }
            }

# Your code here
```

In [35]:
countries = {"ES" : {"name": "Spain",
                     "capital_city": "Madrid",
                     "currency": "EUR"
                    },
             "US" : {"name": "United States",
                     "capital_city": "Washington",
                     "currency": "USD"
                    },
             "CA" : {"name": "Canada",
                     "capital_city": "Ottawa",
                     "currency": "CAD"
                    }
            }

us_currency = countries["US"]["currency"]
print(us_currency)

USD

## Exercise 16

Let’s add India to `countries` used in `Exercise 15` without changing the initial dictionary definition. The country code is “IN” and the data is below:

| key | value |
| --- | --- |
| name | India |
| capital | New Delhi |
| currency | INR |

In [38]:
countries = {"ES" : {"name": "Spain",
                     "capital_city": "Madrid",
                     "currency": "EUR"
                    },
             "US" : {"name": "United States",
                     "capital_city": "Washington",
                     "currency": "USD"
                    },
             "CA" : {"name": "Canada",
                     "capital_city": "Ottawa",
                     "currency": "CAD"
                    }
            }
countries["IN"] = {"name": "India",
                   "capital_city": "New Delhi",
                   "currency": "INR"
                  }
for country_info in countries.values():
  print(country_info)

{'name': 'Spain', 'capital_city': 'Madrid', 'currency': 'EUR'}
{'name': 'United States', 'capital_city': 'Washington', 'currency': 'USD'}
{'name': 'Canada', 'capital_city': 'Ottawa', 'currency': 'CAD'}
{'name': 'India', 'capital_city': 'New Delhi', 'currency': 'INR'}

## Exercise 17

Let’s try to iterate through our dict-of-dicts! We’ve provided a `for` loop header. Try to continue the code so that you print out all the capital cities.

```python
countries = {"ES" : {"name": "Spain",
                     "capital_city": "Madrid",
                     "currency": "EUR"
                    },
             "US" : {"name": "United States",
                     "capital_city": "Washington",
                     "currency": "USD"
                    },
             "CA" : {"name": "Canada",
                     "capital_city": "Ottawa",
                     "currency": "CAD"
                    }
            }

for country_code in countries:
    # Your code here
```

In [39]:
countries = {"ES" : {"name": "Spain",
                     "capital_city": "Madrid",
                     "currency": "EUR"
                    },
             "US" : {"name": "United States",
                     "capital_city": "Washington",
                     "currency": "USD"
                    },
             "CA" : {"name": "Canada",
                     "capital_city": "Ottawa",
                     "currency": "CAD"
                    }
            }

for country_code in countries:
    print(countries[country_code]["capital_city"])

Madrid
Washington
Ottawa

## Exercise 18

Using the nested dictionaries from `Exercise 17`, let’s do the same with tuple unpacking and the `items()` function.

In [40]:
countries = {"ES" : {"name": "Spain",
                     "capital_city": "Madrid",
                     "currency": "EUR"
                    },
             "US" : {"name": "United States",
                     "capital_city": "Washington",
                     "currency": "USD"
                    },
             "CA" : {"name": "Canada",
                     "capital_city": "Ottawa",
                     "currency": "CAD"
                    }
            }

for code, country_dict in countries.items():
    print(country_dict["capital_city"])

Madrid
Washington
Ottawa

## Exercise 19

The variable `nested` contains a nested list. Assign ‘snake’ to the variable `output` using indexing.

```python
nested = [['dog', 'cat', 'horse'],
          ['frog', 'turtle', 'snake', 'gecko'],
          ['hamster', 'gerbil', 'rat', 'ferret']]
#Your code here
```

In [41]:
nested = [['dog', 'cat', 'horse'],
          ['frog', 'turtle', 'snake', 'gecko'],
          ['hamster', 'gerbil', 'rat', 'ferret']]
output = nested[1][2]
print(output)

snake

## Exercise 20

The variable `nested_d` contains a nested dictionary with the gold medal counts for the top four countries in the past three Olympics. Assign the value of Great Britain’s gold medal count from the London Olympics to the variable `london_gold`. Use indexing. Do not hardcode.

```python
nested_d = {
    'Beijing': {
        'China': 51,
        'USA': 36,
        'Russia': 22,
        'Great Britain': 19
    },
    'London': {
        'USA': 46,
        'China': 38,
        'Great Britain': 29,
        'Russia': 22
    },
    'Rio': {
        'USA': 35,
        'Great Britain': 22,
        'China': 20,
        'Germany': 13
    }
}
# Your code here
```

In [42]:
nested_d = {
    'Beijing': {
        'China': 51,
        'USA': 36,
        'Russia': 22,
        'Great Britain': 19
    },
    'London': {
        'USA': 46,
        'China': 38,
        'Great Britain': 29,
        'Russia': 22
    },
    'Rio': {
        'USA': 35,
        'Great Britain': 22,
        'China': 20,
        'Germany': 13
    }
}
london_gold = nested_d["London"]["Great Britain"]
print(london_gold)

29

## Exercise 21

Below, a list of lists is provided. Use `in` and `not in` tests to create variables with Boolean values. Test to see if:

- 'yellow' is in the third list of lst
- 4 is in the second list of lst
- 'orange' is in the first element of lst

```python
lst = [['apple', 'orange', 'banana'],
       [5, 6, 7, 8, 9.9, 10],
       ['green', 'yellow', 'purple', 'red']
       ]
```

In [45]:
lst = [['apple', 'orange', 'banana'],
       [5, 6, 7, 8, 9.9, 10],
       ['green', 'yellow', 'purple', 'red']
       ]

yellow = "yellow" in lst[2]
print(yellow)

four = 4 in lst[1]
print(four)

orange = "orange" in lst[0]
print(orange)

True
False
True

## Exercise 22

Below, we have provided a nested dictionary. Index into the dictionary to create variables:

- assign the string 'backstroke' to the name v1
- assign the string 'platform' to the name v2
- assign the list ['vault', 'floor', 'uneven bars', 'balance beam'] to the name v3
- assign the string 'beam' (from the string 'balance beam') to the name v4 (use slicing here)

```python
sports = {
    'swimming': [
        'butterfly',
        'breaststroke',
        'backstroke',
        'freestyle'
    ],
    'diving': [
        'springboard',
        'platform',
        'synchronized'
    ],
    'track': [
        'sprint',
        'distance',
        'jumps',
        'throws'
    ],
    'gymnastics': [
        'vault',
        'floor',
        'uneven bars',
        'balance beam'
    ]
}
```

In [48]:
sports = {
    'swimming': [
        'butterfly',
        'breaststroke',
        'backstroke',
        'freestyle'
    ],
    'diving': [
        'springboard',
        'platform',
        'synchronized'
    ],
    'track': [
        'sprint',
        'distance',
        'jumps',
        'throws'
    ],
    'gymnastics': [
        'vault',
        'floor',
        'uneven bars',
        'balance beam'
    ]
}

v1 = sports["swimming"][2]
print(v1)

v2 = sports["diving"][1]
print(v2)

v3 = sports["gymnastics"]
print(v3)

v4 = sports["gymnastics"][3][:]
print(v4)

backstroke
platform
['vault', 'floor', 'uneven bars', 'balance beam']
balance beam

## Exercise 23

Given below is a list of lists of athletes. Create a list, `t`, that saves only the athlete’s name if it contains the letter “t”. If it does not contain the letter “t”, save the athlete name into list `other`.

```python
athletes = [['Phelps', 'Lochte', 'Schooling', 'Ledecky', 'Franklin'],
            ['Felix', 'Bolt', 'Gardner', 'Eaton'],
            ['Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak', 'Dalton']]
#Your code here
```

In [1]:
athletes = [['Phelps', 'Lochte', 'Schooling', 'Ledecky', 'Franklin'],
            ['Felix', 'Bolt', 'Gardner', 'Eaton'],
            ['Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak', 'Dalton']]
t = []
other = []
for athlete in athletes:
  for name in athlete:
    if "t" in name:
      t.append(name)
    else:
      other.append(name)
print(t)
print(other)

['Lochte', 'Bolt', 'Eaton', 'Dalton']
['Phelps', 'Schooling', 'Ledecky', 'Franklin', 'Felix', 'Gardner', 'Biles', 'Douglas', 'Hamm', 'Raisman', 'Mikulak']

## Exercise 24

 Below, we’ve provided a dictionary of dictionaries. Use loop(s) to find out all the countries with USD as currency. Add all those countries **names** to a new list called `dollar_countries`.

 ```python
 countries = { "ES" : {"name" : "Spain", "capital_city" : "Madrid", "currency" : "EUR" },
              "US" : {"name" : "United States", "capital_city" : "Washington", "currency" : "USD" },
              "CA" : {"name" : "Canada", "capital_city" : "Ottawa", "currency" : "CAD" },
              "SV" : {"name" : "El Salvador", "capital_city" : "San Salvador", "currency" : "USD" },
              "CN" : {"name" : "China", "capital_city" : "Beijing", "currency" : "CNY" },
              "MA" : {"name" : "Morocco", "capital_city" : "Rabat", "currency" : "MAD" }
            }
#Your code here
```

In [2]:
countries = { "ES" : {"name" : "Spain", "capital_city" : "Madrid", "currency" : "EUR" },
              "US" : {"name" : "United States", "capital_city" : "Washington", "currency" : "USD" },
              "CA" : {"name" : "Canada", "capital_city" : "Ottawa", "currency" : "CAD" },
              "SV" : {"name" : "El Salvador", "capital_city" : "San Salvador", "currency" : "USD" },
              "CN" : {"name" : "China", "capital_city" : "Beijing", "currency" : "CNY" },
              "MA" : {"name" : "Morocco", "capital_city" : "Rabat", "currency" : "MAD" }
            }
dollar_countries = []
for country_code in countries:
  if countries[country_code]["currency"] == "USD":
    dollar_countries.append(countries[country_code]["name"])
print(dollar_countries)

['United States', 'El Salvador']

## Exercise 25

Given the dictionary, `nested_d`, save the medal count for the USA from all three Olympics in the dictionary to the list `US_count`.

_Note: USA did not participate in all the Olympics, in this question_

```python
nested_d = {'Beijing': {'China': 51, 'USA': 36, 'Russia': 22, 'Great Britain': 19},
            'London': {'China': 38, 'Great Britain': 29, 'Russia': 22},
            'Rio': {'USA': 35, 'Great Britain': 22, 'China': 20, 'Germany': 13}}

US_count = []
#Your code here
```

In [7]:
nested_d = {'Beijing': {'China': 51, 'USA': 36, 'Russia': 22, 'Great Britain': 19},
            'London': {'China': 38, 'Great Britain': 29, 'Russia': 22},
            'Rio': {'USA': 35, 'Great Britain': 22, 'China': 20, 'Germany': 13}}

US_count = []
for country_code in nested_d:
  if "USA" in nested_d[country_code]:
    US_count.append(nested_d[country_code]["USA"])
print(US_count)

[36, 35]

## Exercise 26

Provided here is a list of the women’s 100m swimming final from the 2020 Tokyo Olympics, ordered by standings (first item is the gold medal). Use a nested loop to print the standings like this:

> 1. Emma McKeon (Australia)  
> 2. Siobhan Haughey (Hong Kong)  
> and so on…  

```python
women_100m_final = [
   {"athlete": "Emma McKeon", "country": "Australia", "time": 51.96},
   {"athlete": "Siobhan Haughey", "country": "Hong Kong", "time": 52.27},
   {"athlete": "Cate Campbell", "country": "Australia", "time": 52.52},
   {"athlete": "Abbey Weitzeil", "country": "United States", "time": 52.59},
   {"athlete": "Marie Wattel", "country": "France", "time": 52.72},
   {"athlete": "Penny Oleksiak", "country": "Canada", "time": 52.89},
   {"athlete": "Sarah Sjöström", "country": "Sweden", "time": 53.08},
   {"athlete": "Simone Manuel", "country": "United States", "time": 53.23}
 ]
#Your code here
```

In [9]:
women_100m_final = [
   {"athlete": "Emma McKeon", "country": "Australia", "time": 51.96},
   {"athlete": "Siobhan Haughey", "country": "Hong Kong", "time": 52.27},
   {"athlete": "Cate Campbell", "country": "Australia", "time": 52.52},
   {"athlete": "Abbey Weitzeil", "country": "United States", "time": 52.59},
   {"athlete": "Marie Wattel", "country": "France", "time": 52.72},
   {"athlete": "Penny Oleksiak", "country": "Canada", "time": 52.89},
   {"athlete": "Sarah Sjöström", "country": "Sweden", "time": 53.08},
   {"athlete": "Simone Manuel", "country": "United States", "time": 53.23}
 ]
for index, athlete in enumerate(women_100m_final):
  print(f"{index + 1}. {athlete['athlete']} ({athlete['country']})")

1. Emma McKeon (Australia)
2. Siobhan Haughey (Hong Kong)
3. Cate Campbell (Australia)
4. Abbey Weitzeil (United States)
5. Marie Wattel (France)
6. Penny Oleksiak (Canada)
7. Sarah Sjöström (Sweden)
8. Simone Manuel (United States)

## Exercise 27

With the same data as used in `Exercise 26`, calculate the average time and put the result into a variable called avg.

In [13]:
women_100m_final = [
   {"athlete": "Emma McKeon", "country": "Australia", "time": 51.96},
   {"athlete": "Siobhan Haughey", "country": "Hong Kong", "time": 52.27},
   {"athlete": "Cate Campbell", "country": "Australia", "time": 52.52},
   {"athlete": "Abbey Weitzeil", "country": "United States", "time": 52.59},
   {"athlete": "Marie Wattel", "country": "France", "time": 52.72},
   {"athlete": "Penny Oleksiak", "country": "Canada", "time": 52.89},
   {"athlete": "Sarah Sjöström", "country": "Sweden", "time": 53.08},
   {"athlete": "Simone Manuel", "country": "United States", "time": 53.23}
 ]

time_list = []
for index, athlete in enumerate(women_100m_final):
  time_list.append(athlete["time"])
avg = sum(time_list) / len(time_list)
print(avg)

52.6575