<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/23_exercises_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

23 | Exercises - Tuple

**Tuples** are defined using parentheses `()` and are ideal for storing fixed collections of items that _should not_ be modified.

| Feature | Description |
| --- | --- |
| Immutable |	You cannot change, add, or remove items. |
| Ordered |	Items can be accessed by their index. |
| Values | Can be any valid Python object |

# Creating a Tuple

In [4]:
# basic syntax
syntax_tuple = ("string", int, float, bool, list, dict, tuple)
print(type(syntax_tuple))

<class 'tuple'>

In [5]:
# empty tuple
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [6]:
# single element tuple requires a comma
single_element_tuple = ("string",)
print(type(single_element_tuple))

<class 'tuple'>

In [7]:
# without the comma, the variable will take the type of the single value
single_element_tuple = ("string")
print(type(single_element_tuple))

<class 'str'>

## Adding or Updating a Tuple

**Tuples** are immutable and cannot be changed at all.

In [9]:
example_tuple = ("item1", "item2", "item4")

# updating a tuple
example_tuple[2] = "item3"

# .append(), .insert() and remove() is also not supported

TypeError: 'tuple' object does not support item assignment

## Tuple Packing

Wherever Python expects a single value and multiple expressions are provided, separated by commas, they are automatically packed into a tuple even without parentheses.

In [16]:
# creating a tuple without parentheses
naked_tuple = 1, 2, 3
print(type(naked_tuple))

<class 'tuple'>
(1, 2, 3)

## Tuple Unpacking

Tuple **unpacking**, also know as tuple **assignment**, is a way to unpack/assign the elements of a tuple to multiple variables by placing the variables to the left of the assignment operator and the tuple to the right.

This is helpful in writing cleaner code when we can avoid lines like `tuple[7]` that are not self-explanatory.

In [12]:
unpacking_tuple = ("Jan", 23, "NL")

name, age, country = unpacking_tuple

print(name)
print(age)
print(country)

Jan
23
NL

##Tuple Unpacking with Dictionaries

When iterating over a dictionary using the `.items()` method, Python returns a sequence of tuples. Each tuple contains a key and its corresponding value. Tuple unpacking is used inside the for loop to automatically assign the key to one variable and the value to another, making it easy to access both in a single, clean line of code.

In [17]:
tuple_dict = {"Apple": 5, "Orange": 10, "Banana": 15}

for key, val in tuple_dict.items():
    print(f"Loop received tuple ({key}, {val})")

Loop received tuple (Apple, 5)
Loop received tuple (Orange, 10)
Loop received tuple (Banana, 15)

## Swapping Values

The unpacking feature of tuples can be used to enable swapping the values of 2 variables instead of using a temporary variable. Python achieves this by creating a new, temporary tuple with the values on the right side of the assignment, which is then unpacked to the variables on the left.

In [18]:
a = 1
b = 2
print(f"Before: a={a}, b={b}")
a, b = b, a  # swapping values with tuple assignment
print(f"After: a={a}, b={b}")

Before: a=1, b=2
After: a=2, b=1

## Tuples as Return Values

Functions in Python can only ever return one value. Although it may seem as if it returned multiple values, those values were returned in a **tuple**.

In [25]:
def doing_math(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    mult = num1 * num2
    div = num1 / num2
    return add, sub, mult, div # seems like 4 independant variables

# assign function return values to variable to illustrate
result = doing_math(10, 5)
print(result)
print(type(result))

(15, 5, 50, 2.0)
<class 'tuple'>

## Exercise 1

Create a tuple called `practice` that has four elements: ‘y’, ‘h’, ‘z’, and ‘x’.

In [11]:
practice = ("y", "h", "z", "x")
print(type(practice))

<class 'tuple'>

## Exercise 3

Swap the variables, so the values fit the names of the variables. Use only tuple swapping and not hard-coding!

```python
first = "2"
second = "3"
third = "1"
```

In [19]:
first = "2"
second = "3"
third = "1"
print("Before:", first, second, third)
first, second, third = third, first, second
print("After:", first, second, third)

Before: 2 3 1
After: 1 2 3

## Exercise 4

Define a function called `information` that takes as input, the variables `name`, `birth_year`, `fav_color`, and `hometown`. It should return a tuple of these variables in this order.

In [24]:
def information(name, birth_year, fav_color, hometown):
  return (name, birth_year, fav_color, hometown)

result = information('Bob', 23, 'blue', 'Chicago')
print(result)
print(type(result))

('Bob', 23, 'blue', 'Chicago')
<class 'tuple'>

## Exercise 5

With only one line of code, assign the variables `city`, `country`, and `year` to the values of the tuple `olymp`: `olymp = ('Rio', 'Brazil', 2016)`

In [ ]:
olymp = ('Rio', 'Brazil', 2016)
city, country, year = olymp

## Exercise 6

Fill the left side of line 7 so that the following code runs without error.

```python
def circle_info(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return c, a

= circle_info(10)      #fix the code here
print("area is " + str(area))
print("circumference is " + str(circ))
```

In [26]:
def circle_info(r):
    """ Return (circumference, area) of a circle of radius r """
    c = 2 * 3.14159 * r
    a = 3.14159 * r * r
    return c, a

circ, area = circle_info(10)      #fix the code here
print("area is " + str(area))
print("circumference is " + str(circ))

area is 314.159
circumference is 62.8318

## Exercise 7

Define a function called `date_split` that receives one parameter: a date string in the format “DD-MM-YYYY” (f.e. “24-05-1986”). The function should then return a tuple with 3 elements — day, month, year, all as strings.

In [27]:
def date_split(date):
  day = date[0:2]
  month = date[3:5]
  year = date[-4:]
  return day, month, year

result = date_split("24-05-1986")
print(result)
print(type(result))

('24', '05', '1986')
<class 'tuple'>

## Exercise 8

Update the function `date_split` from previous exercise, so it returns all values as **ints**.

In [29]:
def date_split(date):
  day = int(date[0:2])
  month = int(date[3:5])
  year = int(date[-4:])
  return day, month, year

result = date_split("24-05-1986")
print(result)
print(type(result))

(24, 5, 1986)
<class 'tuple'>