<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/02_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02 | Python Basics

---

## Data Types

- Integers
- Floats
- Strings
- Boolean
- Lists
- Tuples
- Dictionary

In [8]:
x_int = 5
x_fl = 6.5
x_str = "hello"
x_bool = x_int > x_fl
x_range = range(6)
x_list = [1, 2, 3]
x_tup = (1, 23, 'Bob', 'The Builder')
x_dic = {'name': 'Bob', 'age': 23}

print("x_int is", x_int, "which is of", type(x_int))
print("x_fl is", x_fl, "which is of", type(x_fl))
print("x_str is", x_str, "which is of", type(x_str))
print("x_bool is", x_bool, "which is of", type(x_bool))
print("x_list is", x_list, "which is of", type(x_list))
print("x_tup is", x_tup, "which is of", type(x_tup))
print("x_dic is", x_dic, "which is of", type(x_dic))

x_int is 5 which is of <class 'int'>
x_fl is 6.5 which is of <class 'float'>
x_str is hello which is of <class 'str'>
x_range is range(0, 6) which is of <class 'range'>
x_bool is False which is of <class 'bool'>
x_list is [1, 2, 3] which is of <class 'list'>
x_tup is (1, 23, 'Bob', 'The Builder') which is of <class 'tuple'>
x_dic is {'name': 'Bob', 'age': 23} which is of <class 'dict'>

## Type conversion

Type conversion means changing the data type of a value. For example, converting an integer (5) to a float (5.0) or a string ("10") to an integer (10). In Python, there are two types of type conversion:

- **Implicit Conversion:** Python changes the data type by itself while running the code, to avoid mistakes or data loss.
- **Explicit Conversion:** You change the data type on purpose using functions like int(), float(), str() or bool().

In [9]:
# Implicit conversion to float
x = 10
y = 5.5
z = x + y

print("x is", x, "which is of", type(x))
print("y is", y, "which is of", type(y))
print("z is x plus y that equals", z, "which is of", type(z))

x is 10 which is of <class 'int'>
y is 5.5 which is of <class 'float'>
z is x plus y that equals 15.5 which is of <class 'float'>

In [11]:
# Explicit conversion using type casting
x = 5
y = str(x) # cast integer type as string
z = float(x) # casting integer type as float

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

## Variables

A variable is a placeholder or a container for values and:

- must start with a letter or underscore
- shouldn't start with a number
- can contain numbers and underscores
- are case sensitive
- cannot be a keyword

In [15]:
# assigning variables
name = 'Bob'
age = 23

print(name, "is", age, "years old.")

# reassigning variables
name = 'Kate'
age = 30

print(name, "is", age, "years old.")

# multiple assignments
x, y, z = 10, 25, 36

print(x)
print(y)
print(z)
print(x, y, z)

Bob is 23 years old.
Kate is 30 years old.
10
25
36
10 25 36

In [16]:
# using a python keyword as variable will result in an error
class = 'Data Analytics'

print(class)

SyntaxError: invalid syntax (ipython-input-1038179507.py, line 2)

In [17]:
# using a number to start a variable will result in an error
2025_students = 'Data Analytics'

print(2025_students)

SyntaxError: invalid decimal literal (ipython-input-728604371.py, line 2)

## Exercise

Create a variable to store a temperature in Celsius. Convert the temperature to Fahrenheit using the formula: F = (C * 9 / 5) +32

In [19]:
c = 25
f = (c * 9 / 5) + 32

print(f)
print(c, "Celsius converted to Fahrenheit is", f)

77.0
25 Celsius converted to Fahrenheit is 77.0

## String Formatting

In [5]:
# assigning variables
name = 'Bob'
age = 23

print(name, "is currently", age, "years old and will be", age+5, "in 5 year's time.")

# F-STRING FORMATTING
# assign an F-string to a variable
message = f'{name} is currently {age} years old and will be {age + 5} in 5 year\'s time.'
print(message)

# using F-string directly inside the print() function
print(f'{name} is currently {age} years old and will be {age + 5} in 5 year\'s time.')

Bob is currently 23 years old and will be 28 in 5 year's time.
Bob is currently 23 years old and will be 28 in 5 year's time.
Bob is currently 23 years old and will be 28 in 5 year's time.

## Arithmetic Operators

- Addition (+)
- Subtraction (-)
- Multiplication (*)
- Division (/)
- Modulus (%) - returns the remainder after division
- Floor (//) - returns the integer after division

In [8]:
x = 10
y = 4

print("Our numbers are", x, "and", y)
print("Addition: ", x + y)
print("Subtraction: ", x - y)
print("Multiplication", x * y)
print("Division: ", x / y)
print("Modulus: ", x % y) # 10 / 4 = 2.5; 4 * 2 = 8; 10 - 8 = 2 is the remainder
print("Floor: ", x // y)

# combine division and floor to return the fractional part
print("Fractional part of floating point division: ", (x / y) - (x // y))

Our numbers are 10 and 4
Addition:  14
Subtraction:  6
Multiplication 40
Division:  2.5
Modulus:  2
Floor:  2
Fractional part of floating point division:  0.5

## Exercises

1. Calculate the circumference of a circle with a given radius of 5 (use Pi = 3.14)
2. Check if 15 is divisible by 4 using the modulus operator.

In [16]:
# Question 1
r = 5
pi = 3.14
c = round(2 * pi * r, 2)

print("Question 1:")
print("The circumference of a circle with a radius of", r, "is", c)
print()

# Question 2
x = 15 % 4
answer = x == 0

print("Question 2:")
print("15 is divisible by 4:", answer)

Question 1:
The circumference of a circle with a radius of 5 is 31.4

Question 2:
15 is divisible by 4: False