<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/06_exercises_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 06 | Exercises - Variables

In programming you use variables to store values like numbers, text and more. A variable is made of two parts:

- **Variable Name:** The label for the stored value, unchangeable once the variable is made.
- **Variable Value:** The actual value stored inside the variable, can be modified as many times as you wish.

When you see a line of code with a `=` in it, this is what we call an assignment statement. This is a two-step process:

1. The right side of the assignment statement is evaluated into a single value.
2. Then, it is assigned to the variable on the left side.

## Using Variables

In [1]:
# assigning a string to the variable "message"

message = "Hello, World!"
print(message)

Hello, World!

## Incorporating Variables Into Expressions

In [2]:
# assigning an integer to the variable "number"
# and using it in an expression

number = 50
print(number * 2)

100

## Updating Variables

In [3]:
# assigning a string to the variable "message"
message = "Hello, World!"
print(message)

# assigning  a different string to the variable "message"
message = "Hola, Mundo!"
print(message)

Hello, World!
Hola, Mundo!

## Define a variable using other variables

In [4]:
# assigning new variables
name = "Bob"
surname = "The Builder"

# using existing variables to create a new variable
full_name = name + " " + surname

print(full_name)

Bob The Builder

## Define a variable using itself

In [5]:
full_name = "Bob"

# reassigning the variable 'full_name' using its own value
full_name = full_name + " " + "The Builder"

print(full_name)

Bob The Builder

## Do variables have a type?

Python is a **dynamically typed language**, which means that variables are allowed to change their type over the course of a program's execution. This behavior is not universal across all programming languages. In many languages, a variable's type must be declared when it's created, and it can't be changed later.

**Dynamic Typing** can be very powerful and convenient, but it also places a significant amount of responsibility on the programmer. Misunderstanding a variable's type can lead to bugs that are hard to track down.

In [ ]:
number1 = 100  # assign integer data type
number2 = "100" # assign string data type

# + operator performs additiona on 2 integers
print(number1 + number1)

# + operator performs concatenation on 2 strings
print(number2 + number2)

## F-Strings (Formatted Strings)

An `f-string` is a concise way to embed **expressions** _(a combination of values, variables, and operators)_ inside string literals in Python. It provides a simple and readable way to format strings, making it easier to include variable values or the results of expressions directly within a string.

To create an f-string, you put the letter f immediately before the opening quotation mark of the string. Inside the string, you can place Python expressions within curly braces {}.

In [12]:
name = "Mario"
age = 25
address = "Mushroom Kingdom"

print(f"Hi {name} from {address}! You are {age} year's old and will be {age + 1} next year.")

Hi Mario from Mushroom Kingdom! You are 25 year's old and will be 26 next year.

## Exercise 1

This program is meant to print the age 12, but it doesn‚Äôt work. Can you fix it?

```python
age = 12
print("age")
```

In [4]:
age = 12
print(age)

12

## Exercise 2

Without changing any of the existing lines, make the program print ‚ÄúGoodbye!‚Äù instead of ‚ÄúHello!‚Äù.

```python
message = "Hello!"
# Add code here

print(message)
```

In [5]:
message = "Hello!"
message = "Goodbye!"

print(message)

Goodbye!

## Exercise 3

Print the text saved to greeting three times. The output should be a single line like that:

```python
# Bon voyage, Titanic! Bon voyage, Titanic! Bon voyage, Titanic!

greeting = "Bon voyage, Titanic! "
# Add your code
```

In [6]:
greeting = "Bon voyage, Titanic!"
print(" ".join([greeting, greeting, greeting]))

Bon voyage, Titanic! Bon voyage, Titanic! Bon voyage, Titanic!

## Exercise 4

1. To calculate distance, the formula we use is Distance = Speed x Time.
2. Create a print statement that prints the distance (in Miles) traveled by the Titanic in one day.

```python
miles_per_hour = 30
hours_per_day = 24

# Add your code
```

In [7]:
miles_per_hour = 30
hours_per_day = 24

print(miles_per_hour * hours_per_day)

720

## Exercise 5

1. One knot (a unit of speed) equals 1.151 miles per hour.
2. The current speed of the Titanic is 30 Knots, saved to a variable named `current_speed`.
3. Create another variable called `current_speed_miles` that will hold the current speed in Miles per hour.

In [1]:
current_speed = 30
current_speed_miles = current_speed * 1.151

print("The current speed of the Titanic is", current_speed_miles, "miles per hour.")

The current speed of the Titanic is 34.53 miles per hour.

## Exercise 6

1. Create two string variables, `salutation` with the value "Hello" & `ship` with the value "Titanic".
2. Create a new string that combines these two strings with a comma and a space between them.
3. Make the computer print it.

In [2]:
salutation = "Hello"
ship = "Titanic"

print(salutation + ", " + ship)

Hello, Titanic

## Exercise 7

1. Without changing the variable `number`, add a `print` statement that will output the string version of the number, twice.
2. For example, if the value of `number` is 100, the output will be `100100`.
3. You can convert int to string by `str(number)`.

In [3]:
number = 100
print(str(number) + str(number))

100100

## Exercise 8

Add one line of code that will update the value of speed from 50 to 60, without directly assigning 60 into it. Try to use the variable itself on the right side of the equal sign.

In [6]:
speed = 50
print(speed)

speed = speed + 10
print(speed)

50
60

## Exercise 9

Add one line of code that will convert the variable number from string to float.

In [9]:
number = "3.14"
print(type(number))

number = float(number)
print(type(number))

<class 'str'>
<class 'float'>

## Exercise 10

The following program is supposed to print the age of a person in hours. However, there are two issues:

- The variable names are not descriptive and clear.
- The calculation doesn‚Äôt work ü•¥. Can you fix it?

```python
a = 25
y = 365
h = "24"

new = a * y * h
print("Your age in hours is")
print(new)
```

In [10]:
age = 25
days_in_a_year = 365.25
hours_in_a_day = 24

age_in_hours = age * days_in_a_year * hours_in_a_day
print("Your age in hours is")
print(age_in_hours)

Your age in hours is
219150.0

## Exercise 11

- Annie tried to create a program that would perform a specific calculation.
- She expected "310" to appear on the screen, but things didn't go as planned.
- Could you correct this code so that it performs the calculation as expected?

```python
num1 = "150"
num1 = num1 + num1

result = num1 + 10
print(result)
```

In [11]:
num1 = 150
num1 = num1 + num1

result = num1 + 10
print(result)

310

## Exercise 12

The following code contains a ready f-string print statement, but it doesn‚Äôt work. Try to fix it; You can create variables as you wish.

```python
#fix the code
year = 1912
print(f"The Titanic set sail in year")
```

In [15]:
year = 1912
ship = "Titanic"
print(f"The {ship} set sail in {year}.")

The Titanic set sail in 1912.

## Exercise 13

The following code was supposed to print out the sentence:

| Did You Know? |
| :--- |
| The Titanic had 3 four-cylinder engines. |

Sadly, it contains two bugs that are preventing it from working as expected. Find the bugs and fix them so that the program works properly.

```python
engine_type = "four-cylinder"
engine_num = 3
#Your code here
```

In [16]:
engine_type = "four-cylinder"
engine_num = 3

print("Did You Know?")
print(f"The Titanic had {engine_num} {engine_type} engines.")

Did You Know?
The Titanic had 3 four-cylinder engines.

## Exercise 14

- A university has decided to apply a 25% grade increase to all students due to the difficulty of a certain course.
- The code below stores the information about a student.
- Update the student's `grade_after_factor` in line 4 by adding the necessary calculation.

```python
student_name = "Nina"
subject = "Mathematics"
grade = 75
grade_after_factor =                        # Your code here

print("My name is Nina, I study Mathematics")
print(f"My grade is:  {grade}")
print(f"Applying 25% factor increased my grade to: {grade_after_factor}")
```

In [19]:
student_name = "Nina"
subject = "Mathematics"
grade = 75
grade_after_factor = grade * 1.25

print("My name is Nina, I study Mathematics")
print(f"My grade is:  {grade}")
print(f"Applying 25% factor increased my grade to: {grade_after_factor}")

My name is Nina, I study Mathematics
My grade is:  75
Applying 25% factor increased my grade to: 93.75

## Exercise 15

- Write a program that calculates and prints the average of 3 grades, saved to the variables below.
- Your program should produce the following output:
> The average grade is: 86.0
- It‚Äôs recommended to create new variables for your calculations.

```python
exam1 = 95
exam2 = 76
exam3 = 87
#Your code here
```

In [20]:
exam1 = 95
exam2 = 76
exam3 = 87
avg_grade = (exam1 + exam2 + exam3) / 3

print(f"The average grade is: {avg_grade}")

The average grade is: 86.0