<a href="https://colab.research.google.com/github/krauseannelize/nb-py-ms-exercises/blob/main/notebooks/12_exercises_functions_in_depth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12 | Exercises - Functions In-Depth

## Optional Parameters

When defining a function, you can specify a default value for a parameter. That parameter then becomes an **optional** parameter when the function is called.

⚠️ **_Important:_** _Optional parameters **must** appear **AFTER** the required parameters when you define a function. If you specify an optional argument before a required argument, Python returns an error `positional argument follows keyword argument`._

In [2]:
# optional parameter assigned default value with = statement inside the parameter list
def function(parameter, optional_parameter="Default"):
  print(f"Hello {parameter}! Welcome to {optional_parameter}.")

function("John")
function("Jane", "Python")

Hello John! Welcome to Default.
Hello Jane! Welcome to Python.

## Keyword Parameters

Using keyword parameters, you can make your function call more readable and obvious, especially for functions that accept many arguments and if you are unsure of the position of each argument.

_Note: once you’ve used a keyword argument, you need to use keyword arguments for the remaining parameters._

In [3]:
def final_price(price, vat):
     final = price + price * (vat / 100)
     return final

print(final_price(price=100, vat=17)) # using keyword arguments
print(final_price(vat=17, price=100)) # The order doesn't matter!

117.0
117.0

## Returning multiple values

In Python, you can return multiple values from a function by simply returning them separated by commas.

When calling a function that returns multiple values, we can also store them right into different variables!

In [4]:
def maths(num1, num2):
  sum = num1 + num2
  diff = num1 - num2
  return sum, diff  # return multiple values

sum, diff = maths(10, 5)  # store into different variables
print(sum)
print(diff)

15
5

## Exercise 1

Write a function called `has_space` that takes a string as input, loops through it, and returns True if one of its characters is space (” “).

Once a space was found, the function **stops and returns immediately** (There is no point to keep searching for another space).

If a space is not found, it will return **False**.

In [6]:
# return terminates the function
def has_space(text):
  for i in text:
    if i == " ":
      return True
  return False

has_space("Hello world!")

True

## Exercise 2

Write a function called `welcome_message` that takes in a parameter `name` and returns `"Hello (name)! We hope that you will enjoy this course. :)"`.

For example, `welcome_message('Aurora')` should return `"Hello Aurora! We hope that you will enjoy this course. :)"`.

If the user didn’t pass a name, display “Anonymous” instead.

In [7]:
def welcome_message(name="Anonymous"):
  return f"Hello {name}! We hope you will enjoy this course. :)"

print(welcome_message())
print(welcome_message("John"))

Hello Anonymous! We hope you will enjoy this course. :)
Hello John! We hope you will enjoy this course. :)

## Exercise 3

Write a function called `birthday` that:

- Takes in three keyword **_int_** parameters (`month`, `day`, and `year`)
- Returns it in a string formatted `month`/`day`/`year`.
> For example, `birthday(11, 17, 1990)` should return `"11/17/1990"` and `birthday(month=7, day=5, year=2004)` should return `"7/5/2004"`.
- If the user didn’t provide the year, set it to 2000.

In [9]:
def birthday(month, day, year=2000):
  return f"{month}/{day}/{year}"

print(birthday(11, 17, 1990))
print(birthday(9, 12))
print(birthday(month=7, day=5, year=2004))

11/17/1990
9/12/2000
7/5/2004

## Exercise 4

Write a function called `address_split` that gets a string in the format of `"<State>, <Country>"` like "WA, USA" (State is always 2 letters long).

The function should return two separate string values — a state and a country (`WA`, `USA`).

In [17]:
def address_split(address):
  address_list = address.split(", ")
  state = address_list[0]
  country = address_list[1]
  return state, country

print(address_split("WA, USA"))
print(address_split("HH, DE"))

# The .split() method breaks the address string into a list of substrings
# wherever a comma and a space (", ") are found. [1] accesses the item in that
# list (indexing starts at 0).

('WA', 'USA')
('HH', 'DE')

## Exercise 5

Write a function called `remainder` that takes in parameters `x` and `y` (where `y` defaults to 4) and returns the remainder of `x` divided by `y`.

Ignore cases for when `x` is negative or `y` is less than or equal to 0. For example, `remainder(5)` should return 1.

In [20]:
def remainder(x, y=4):
  if x < 0 or y <= 0:
    return
  return x % y

print(remainder(5))
print(remainder(8, 3))

1
2

## Exercise 6

Write three functions called `addNumbers`, `subtractNumbers`, and `calculate`.

- The function `addNumbers` should take two numbers (`x` and `y`) as parameters and return the value of adding them together.
- The function `subtractNumbers` should also take two numbers (`x` and `y`) and return the value of `x` minus `y`.
- Lastly, define a function called `calculate` that takes three numbers (`a`, `b`, and `c`) and uses `addNumbers` and `subtractNumbers` to add `a` and `b` and subtract `c`.
The value should be returned.

For example, `calculate(2,3,4)` should return `1`.

In [22]:
def addNumbers(x, y):
  return x + y

def subtractNumbers(x, y):
  return x - y

def calculate(a, b, c):
  return subtractNumbers(addNumbers(a, b), c)

print(calculate(2,3,4))
print(calculate(16,4,5))

1
15